In [1]:
import pandas as pd
import csv

In [24]:
df_concord_join = pd.read_csv (r'../../data/tidy/concord_parcel_soil_join.csv')

In [38]:
street=['BELKNAP ST','ELSINORE ST','GRANT ST','BROOKS ST','SUDBURY RD','BYRON ST','WHITTEMORE ST','MAIN ST','COMMONWEALTH AVE','CHURCH ST','BEHARRELL ST', 'BRADFORD ST','LAWS BROOK RD','MILDRED CIR','SARAH WAY','CAMBRIDGE TPKE','HUNTERS RIDGE RD','OLD MARLBORO RD','THOREAU ST','HUBBARD ST','WALDEN TER','SUDBURY RD']

In [39]:
len(street)

22

In [33]:
for s in street:
    df_s=df_concord_join.loc[df_concord_join.FULL_STR==s]
    s_sand_mean=df_s[["SAND"]].mean()
    s_clay_mean=df_s[["CLAY"]].mean()
    #out_file = open('r../../data/tidy/concord.csv', "wb")
    #writer = csv.writer(out_file)
    #for row in reader:
    #row[3] = 4
    #writer.writerow(row)
    #in_file.close()    
    #out_file.close()
    #with open('r../../data/tidy/concord.csv', 'w', newline='') as csvfile:
        #csvfile.row[sand]=s_sand_mean
        #csvwriter = csv.writer(csvfile)
        #csvwriter.writerow(fields)
        #csvwriter.writecolumn(fields)
    print(s_sand_mean) 
    print(s_clay_mean)

SAND    58.793478
dtype: float64
CLAY    5.282609
dtype: float64
SAND    63.85
dtype: float64
CLAY    4.792857
dtype: float64
SAND    55.091667
dtype: float64
CLAY    4.95
dtype: float64
SAND    64.3
dtype: float64
CLAY    4.72
dtype: float64
SAND    59.912712
dtype: float64
CLAY    3.779661
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64
SAND    58.164532
dtype: float64
CLAY    4.666995
dtype: float64
SAND    54.42451
dtype: float64
CLAY    3.756863
dtype: float64
SAND    45.4
dtype: float64
CLAY    2.1
dtype: float64
SAND    10.016667
dtype: float64
CLAY    0.9
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64
SAND    61.063492
dtype: float64
CLAY    4.571429
dtype: float64
SAND    81.14
dtype: float64
CLAY    1.8
dtype: float64
SAND    85.0
dtype: float64
CLAY    1.0
dtype: float64
SAND    73.709434
dtype: float64
CLAY    2.573585
dtype: float64
SAND    78.116667
dtype: float64
CLAY    2.133333
dtype: float64
SAND    72.156701
dtype: float64
CLAY    3.44433
dtype: float64
SAND    57.407576
dtype: float64
CLAY    3.8
dtype: float64
SAND    66.652727
dtype: float64
CLAY    4.287273
dtype: float64
SAND    66.825
dtype: float64
CLAY    4.266667
dtype: float64
SAND    59.912712
dtype: float64
CLAY    3.779661
dtype: float64

In [36]:
street_joint=["LAUREL ST","THOREAU CT","UNION ST","WILLOW ST","FIELDING ST","DEVENS ST","BELKNAP ST","ACADEMY LN","MIDDLE ST"]

In [37]:
len(street_joint)

9

In [40]:
for s2 in street_joint:
    df_s2=df_concord_join.loc[df_concord_join.FULL_STR==s2]
    s2_sand_mean=df_s2[["SAND"]].mean()
    s2_clay_mean=df_s2[["CLAY"]].mean()
    print(s2_sand_mean) 
    print(s2_clay_mean)

SAND    61.047619
dtype: float64
CLAY    5.238095
dtype: float64
SAND    55.2125
dtype: float64
CLAY    4.3
dtype: float64
SAND    78.475
dtype: float64
CLAY    2.425
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64
SAND    65.075
dtype: float64
CLAY    4.55
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64
SAND    58.793478
dtype: float64
CLAY    5.282609
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64
SAND    60.1
dtype: float64
CLAY    5.4
dtype: float64

In [43]:
for s in street:
    df_s=df_concord_join.loc[df_concord_join.FULL_STR==s]
    s_BLD_AREA_sum=df_s[["BLD_AREA"]].sum()
    print(s_BLD_AREA_sum)

BLD_AREA    178352
dtype: int64
BLD_AREA    254878
dtype: int64
BLD_AREA    49977
dtype: int64
BLD_AREA    44319
dtype: int64
BLD_AREA    549123
dtype: int64
BLD_AREA    14771
dtype: int64
BLD_AREA    102993
dtype: int64
BLD_AREA    1720109
dtype: int64
BLD_AREA    440638
dtype: int64
BLD_AREA    33038
dtype: int64
BLD_AREA    220370
dtype: int64
BLD_AREA    113340
dtype: int64
BLD_AREA    244682
dtype: int64
BLD_AREA    139318
dtype: int64
BLD_AREA    57343
dtype: int64
BLD_AREA    189304
dtype: int64
BLD_AREA    146635
dtype: int64
BLD_AREA    665409
dtype: int64
BLD_AREA    333114
dtype: int64
BLD_AREA    223002
dtype: int64
BLD_AREA    50911
dtype: int64
BLD_AREA    549123
dtype: int64

In [44]:
for s2 in street_joint:
    df_s2=df_concord_join.loc[df_concord_join.FULL_STR==s2]
    s2_BLD_AREA_sum=df_s2[["BLD_AREA"]].mean()
    print(s2_BLD_AREA_sum)

BLD_AREA    8691.857143
dtype: float64
BLD_AREA    2447.125
dtype: float64
BLD_AREA    2794.125
dtype: float64
BLD_AREA    3562.857143
dtype: float64
BLD_AREA    3275.125
dtype: float64
BLD_AREA    5191.5
dtype: float64
BLD_AREA    3877.217391
dtype: float64
BLD_AREA    5491.25
dtype: float64
BLD_AREA    5904.833333
dtype: float64

In [45]:
for s in street:
    df_s=df_concord_join.loc[df_concord_join.FULL_STR==s]
    s_BLD_AREA_sum=df_s[["TOTAL_VAL"]].sum()
    print(s_BLD_AREA_sum)

TOTAL_VAL    36910100
dtype: int64
TOTAL_VAL    52107300
dtype: int64
TOTAL_VAL    10575900
dtype: int64
TOTAL_VAL    9492800
dtype: int64
TOTAL_VAL    139166240
dtype: int64
TOTAL_VAL    2062400
dtype: int64
TOTAL_VAL    19213000
dtype: int64
TOTAL_VAL    365973300
dtype: int64
TOTAL_VAL    73485200
dtype: int64
TOTAL_VAL    5439300
dtype: int64
TOTAL_VAL    23787200
dtype: int64
TOTAL_VAL    11096000
dtype: int64
TOTAL_VAL    53856400
dtype: int64
TOTAL_VAL    21616400
dtype: int64
TOTAL_VAL    9760100
dtype: int64
TOTAL_VAL    41928702
dtype: int64
TOTAL_VAL    26402600
dtype: int64
TOTAL_VAL    125917500
dtype: int64
TOTAL_VAL    71855100
dtype: int64
TOTAL_VAL    64054600
dtype: int64
TOTAL_VAL    12220400
dtype: int64
TOTAL_VAL    139166240
dtype: int64

In [47]:
for s2 in street_joint:
    df_s2=df_concord_join.loc[df_concord_join.FULL_STR==s2]
    s2_TOTAL_VAL_sum=df_s2[["TOTAL_VAL"]].mean()
    print(s2_TOTAL_VAL_sum)

TOTAL_VAL    2.160338e+06
dtype: float64
TOTAL_VAL    624300.0
dtype: float64
TOTAL_VAL    686200.0
dtype: float64
TOTAL_VAL    839742.857143
dtype: float64
TOTAL_VAL    938650.0
dtype: float64
TOTAL_VAL    1637325.0
dtype: float64
TOTAL_VAL    802393.478261
dtype: float64
TOTAL_VAL    1774225.0
dtype: float64
TOTAL_VAL    1.657342e+06
dtype: float64