In [31]:
import pandas as pd

In [33]:
with open(r'../../data/raw/concord_parcel_df-checkpoint.csv') as concord:
    df_concord=pd.read_csv(concord)

In [35]:
df_concord

,Unnamed: 0,MAP_PAR_ID,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,...,BLD_AREA,UNITS,RES_AREA,STYLE,NUM_ROOMS,LOT_UNITS,STORIES,SHAPE_AREA,SHAPE_LEN,geometry
0,1262,2107,F_682887_2992644,FEE,9D,ASSESS,NaN,20110504,NaN,N,...,6030,0,2946,Colonial,8,Acres,2.00,1999.827365,196.230270,"POLYGON ((208165.0820999965 912174.498399999, ..."
1,1353,2986-1,F_681563_2980927,FEE,14C,ASSESS,NaN,20110504,NaN,N,...,0,0,0,Vacant,0,Acres,0.00,1305.132182,197.731517,"POLYGON ((207778.8434000015 908579.3751999997,..."
2,1527,1863,F_688344_2994292,FEE,8E,ASSESS,NaN,20110504,NaN,N,...,3079,0,1436,Ranch,7,Acres,1.00,2411.197838,204.520881,"POLYGON ((209844.934299998 912669.2659999989, ..."
3,2543,2497,F_683094_2989244,FEE,10D,ASSESS,NaN,20110504,NaN,N,...,3833,0,1827,Old Style,8,Acres,1.75,433.043921,84.136203,"POLYGON ((208219.2787000015 911122.4791000001,..."
4,2551,1101,F_701532_2996352,FEE,7I,ASSESS,NaN,20110504,NaN,N,...,3140,0,2060,Colonial,0,Acres,2.00,1905.903819,183.758876,"POLYGON ((213850.201700002 913264.3128999993, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6933,2408836,1985-31,F_686900_2999244,FEE,6E,ASSESS,NaN,20110504,NaN,N,...,5986,0,1876,Rsd Rnch/Splt Lvl,9,Acres,1.00,5274.319078,299.913278,"POLYGON ((209417.2229000032 914185.9538000003,..."
6934,2408837,1934,F_685600_2995674,FEE,7D,ASSESS,NaN,20110504,NaN,N,...,2033,0,1101,Old Style,6,Acres,1.75,1046.297060,138.054946,"POLYGON ((208989.3756999969 913064.5161000006,..."
6935,2408941,1999-2,F_683009_2996780,FEE,7D,ASSESS,NaN,20110504,NaN,N,...,0,0,0,Vacant,0,Acres,0.00,141562.068721,1969.907935,"POLYGON ((208213.6032999977 913594.5643999986,..."
6936,2408942,1044,F_703820_2996764,FEE,7J,ASSESS,NaN,20110504,NaN,N,...,3936,0,1120,Cape Cod,5,Acres,1.50,2336.228540,198.916146,"POLYGON ((214560.7149000019 913414.6557999998,..."
6937,2409097,2822,F_682979_2988084,FEE,11D,ASSESS,NaN,20110504,NaN,N,...,6066,0,3454,Colonial,0,Acres,2.00,1929.948201,189.170171,"POLYGON ((208207.2572999969 910789.1033999994,..."

In [36]:
df_concord.FULL_STR.unique()

array(['POND ST', 'OLD PICKARD RD', 'COBURN HILL RD', 'SHIRLEY ST',
       'ARROWHEAD RD', 'PINE HILL LN', 'SUDBURY RD', 'ROLLINGWOOD LN',
       'CENTRAL ST', 'STONE ROOT LN', 'LOWELL RD', 'COTTAGE ST', 'ASH ST',
       'INDIAN SPRING RD', 'MUSKETAQUID RD', 'FAIRHAVEN RD', 'MAIN ST',
       'ARENA TER', 'HARRINGTON AVE', 'BLACK DUCK RD', 'WOODLAND RD',
       'PARK LN', 'HAWTHORNE LN', 'SPRING RD', 'NASHAWTUC RD',
       'HAYWARD MILL RD', 'MARTHAS POINT RD', 'HUBBARD ST',
       'CAMBRIDGE TPKE', 'BEDFORD ST', 'NASHOBA RD', 'PILGRIM RD',
       'ALDEN RD', 'WALDEN ST', 'POPE RD', 'LANG ST', 'PLAINFIELD RD',
       'DANA RD', 'RIVERDALE RD', 'ASSABET AVE', 'RANGE RD',
       'LAWS BROOK RD', 'BLUE JAY DR', 'WESTFORD RD', 'THOREAU ST',
       'PETER SPRING RD', 'MONUMENT ST', 'DOVER ST', 'BRUCE RD',
       'SEYMOUR ST', 'OAK HILL CIR', 'CREST ST', 'SOUTHFIELD RD',
       'GROVE ST', 'SPENCER BROOK RD', 'FITCHBURG TPKE', 'BELKNAP ST',
       'OLD MARLBORO RD', 'BRIDGECOURT LN', 'COMMONWEALTH AVE',
       'OLD STOW RD', 'JENNIE DUGAN RD', 'BAKER AVE',
       'OLD RD TO 9 ACRE COR', 'BIRCH DR', 'MILDRED CIR', 'WRIGHT RD',
       'HIGHLAND ST', 'LEDGE ROCK RD', 'LEXINGTON RD', 'SHADYSIDE AVE',
       'BAKER AVENUE EXT', 'HAYES RD', 'BOLTON ST', 'SOUTHFIELD CIR',
       'BARNES HILL RD', 'OLD MILL RD', 'HEATHS BRIDGE RD',
       'HIGH PINE CIR', 'QUAIL RUN DR', 'MINUTEMAN DR', 'COMMERFORD RD',
       'RIDGEWOOD RD', 'BORDER RD', 'HILDRETH LN', 'SOUTH ST',
       'WILSON RD', 'REVOLUTIONARY RD', 'TANGLEWOOD DR',
       'CROWELL FARM RD', 'ANNURSNAC HILL RD', 'BARTLETT HILL RD',
       'FULLER LN', 'CATERINA HTS', 'HUNTERS RIDGE RD', 'RAYMOND RD',
       'PHILIP FARM RD', 'SANDY POND RD', 'INDEPENDENCE RD', 'ADAMS RD',
       'SIMON WILLARD LN', 'VIRGINIA RD', 'BUCKMASTER DR', 'EDGEWOOD RD',
       'COTTAGE LN', 'WHIPPOORWILL LN', 'LAPHAM RD', 'OLD BEDFORD RD',
       'DUNBAR WAY', 'DERBY ST', 'NORTH BRANCH RD', 'DOMINO DR',
       'SIMON WILLARD RD', 'BYPASS RD', 'PARTRIDGE LN',
       'BARRETTS MILL RD', 'NANCY RD', 'MUNROE PL', 'WESTVALE DR',
       'ESTABROOK RD', 'WHITTEMORE ST', 'GARFIELD RD',
       'TARBELL SPRING RD', 'MACMILLAN DR', 'BEDFORD CT', 'LEE DR',
       'HILLCREST RD', 'ELSINORE ST', 'LANES END', 'ALLEN FARM LN',
       'CONANT ST', 'POWDER MILL RD', 'PRAIRIE ST', 'BEHARRELL ST',
       'NIMROD DR', 'EDMONDS RD', 'THE VALLEY RD', 'SHORE DR',
       'HILLSIDE AVE', 'KENNEY LN', 'SARAH WAY', 'MUSTERFIELD RD',
       'ANSON RD', 'COLLEGE RD', 'MARTIN RD', 'STOW ST',
       'JONAS BROWN CIR', 'STRAWBERRY HILL RD', 'WINTHROP ST',
       'CRABTREE RD', 'RIVERSIDE AV', 'CONCORD TPKE', 'BLUEBERRY LN',
       'BUTTRICKS HILL RD', 'SAW MILL RD', 'BUTTERNUT CIR',
       'FAIRHAVEN HILL RD', 'WHITS END RD', 'GRANITE POST RD',
       'PEABODY CT', 'INGHAM LN', 'JUNIPER CIR', 'UPLAND RD',
       'CHESTNUT ST', 'BROWN ST', 'AUTHORS RD', 'STACEY CIR',
       'MINISTERIAL DR', 'BALLS HILL RD', 'TEMPLE RD', 'ELM ST',
       'MONSEN RD', 'AUTUMN LN', 'PAUL REVERE RD', 'FARMERS CLIFF RD',
       'MACARTHUR RD', 'LORING RD', 'BLACK HORSE PL', 'DEER GRASS LN',
       'MINOT RD', 'OXBOW RD', 'SILVER HILL RD', 'HOLDEN WOOD RD',
       'PRESCOTT RD', 'LAUREL ST', 'HOSMER RD', 'SUMMIT ST',
       'WEDGEWOOD CMN', 'EMERSON RD', 'POTTER ST', 'NUT MEADOW XING',
       'PLEASANT ST', 'ROBINWOOD RD', 'DEACON HAYNES RD', 'EAST CIR',
       'DALTON RD', 'ISAAC DAVIS RD', 'BIGELOW RD', 'HEMLOCK ST',
       'AURORA LN', 'HILL ST', 'UNION ST', 'MERIAM RD', 'MCCALLAR LN',
       'WHEELER RD', 'MATTISON DR', 'CARR RD', 'WHITE AVE', 'CHANNING RD',
       'FINIGAN WAY', nan, 'GARDEN RD', 'WILLOW ST', 'KING LN',
       'LINDSAY POND RD', 'BELKNAP CT', 'EATON ST', 'GRANT ST',
       'BYRON ST', 'THOREAU CT', 'BRISTERS HILL RD', 'WILLIAMS RD',
       'PETER BULKELEY RD', 'SHAGBARK RD', 'RIDGEWAY RD', 'MIDDLE ST',
       'BROOK TRAIL RD', 'DAMON ST', 'EVERETT ST', 'PHEASANT LN',
       'SORREL RD', 'ORCHARD RD', 'KEYES RD', 'OLD FARM RD',
       'INDIAN PIPE LN', 'BROOKS ST', 'DAVIS CT', 'BAYBERRY RD',
       'ATTAWAN RD', 'WINSLOW ST', 'DARTON ST', 'CRESS BROOK RD',
       'OAK RD', 'WOOD ST', 'STUDLEY CT', 'HUGH CARGILL RD', 'RIDGE RD',
       'DEVENS ST', 'CHASE RD', 'AYRSHIRE LN', 'WEST CIR', 'CHURCH ST',
       'LIBERTY ST', 'DAMONMILL LN', 'MONUMENT FARM RD', 'MANUEL DR',
       'HAYWARD MILL CIR', 'GREAT MEADOWS RD', 'KEUKA RD', 'FERN ST',
       'MAPLE ST', 'POND VIEW LN', 'RIVER ST', 'UNION TPKE',
       'OLD POWDER MILL RD', 'HIGH ST', 'WALDEN SQ', 'FRANCES ST',
       'KNOX TRAIL RD', 'ALFORD CIR', 'COOLIDGE RD', 'ADIN DR',
       'CAPTAIN MILES LN', 'DRUM HILL RD', 'SUNNYSIDE LN',
       'FOREST RIDGE RD', 'CRESCENT RD', 'GARRISON RD', 'LEWIS RD',
       'WALDEN TER', 'GREENFIELD LN', 'SIDNEY LN', 'WARNER ST', 'WEST ST',
       'POWERS RD', 'BRADFORD ST', 'FIELDING ST', 'RIVERDALE CIR',
       'CONCORD GREENE', 'FLORIO DR', 'GIFFORD LN', 'MALLARD DR',
       'ALCOTT RD', 'PINE ST', 'VALLEY ST', 'MONUMENT SQ',
       'WESTVALE MEADOW', 'GARLAND RD', 'INDEPENDENCE CT', 'WATER ST',
       'CRANEFIELD RD', 'RIPLEY HILL RD', 'SEVEN STAR LN',
       'OFF HARRINGTON AV', 'WRIGHT FARM', 'MILLRUN LN', 'PAUL ST',
       'MITCHELL RD', 'SWEET BIRCH LN', 'ELM BROOK LN', 'RED COAT LN',
       'OLD BRIDGE RD', 'WOLF PINE WAY', 'TURNING MILL RD', 'HEYWOOD ST',
       'BARTKUS FARM', 'WESTGATE PARK', 'MACONE FARM LN', 'BRIGHAM WOODS',
       'FLINT RD', 'WINDMILL HILL RD', 'TWO ROD RD', 'COPPERMINE RD',
       'SQUAW SACHEM TRL', 'LONGFELLOW RD', 'HOLDEN LN', 'MAPLEWOOD CIR',
       'COURT LN', 'WALNUT ST', 'BLUE HERON WAY', 'TRACY ST',
       'BARTONS WAY', 'STAFFORDSHIRE LN', 'MAGNOLIA ST', 'JUNCTION SQ',
       'CENTER VILLAGE DR', 'SHAW FARM RD', 'GRANBY ST', 'FOX LN',
       'BRONSON WAY', 'BOW ST', 'WAYSIDE RD', 'SOUTH MEADOW RDG',
       'WILLARD CMN', 'CONCORD XING', 'CEDAR WAY', 'DRAKE PARK RD',
       'PRESTON ST', 'MAPLE CT', 'CRANBERRY LN', 'POND LN', 'THORNTON LN',
       'ACADEMY LN', 'RIVER MEADOW', 'LOVE LN', 'BLACK BIRCH LN',
       'EMERSON HOSPITAL', 'HAYWARD CT'], dtype=object)

In [122]:
df_BELKNAP=df_concord.loc[df_concord.FULL_STR=='BELKNAP ST']

In [123]:
len(df_BELKNAP.index)

46

In [49]:
df_ELSINORE=df_concord.loc[df_concord.FULL_STR=='ELSINORE ST']

In [50]:
len(df_ELSINORE.index)

56

In [52]:
df_GRANT=df_concord.loc[df_concord.FULL_STR=='GRANT ST']

In [53]:
len(df_GRANT.index)

12

In [54]:
df_BROOKS=df_concord.loc[df_concord.FULL_STR=='BROOKS ST']

In [55]:
len(df_BROOKS.index)

10

In [56]:
df_SUDBURY =df_concord.loc[df_concord.FULL_STR=='SUDBURY RD']

In [57]:
len(df_SUDBURY.index)

118

In [58]:
df_BYRON =df_concord.loc[df_concord.FULL_STR=='BYRON ST']

In [59]:
len(df_BYRON.index)

3

In [60]:
df_WHITTEMORE =df_concord.loc[df_concord.FULL_STR=='WHITTEMORE ST']

In [62]:
len(df_WHITTEMORE.index)

21

In [63]:
df_MAIN =df_concord.loc[df_concord.FULL_STR=='MAIN ST']

In [64]:
len(df_MAIN.index)

406

In [65]:
df_COMMONWEALTH=df_concord.loc[df_concord.FULL_STR=='COMMONWEALTH AVE']

In [66]:
len(df_COMMONWEALTH.index)

102

In [67]:
df_CHURCH=df_concord.loc[df_concord.FULL_STR=='CHURCH ST']

In [69]:
len(df_CHURCH.index)

8

In [70]:
df_BEHARRELL=df_concord.loc[df_concord.FULL_STR=='BEHARRELL ST']

In [71]:
len(df_BEHARRELL.index)

6

In [72]:
df_BRADFORD=df_concord.loc[df_concord.FULL_STR=='BRADFORD ST']

In [73]:
len(df_BRADFORD.index)

6

In [74]:
df_LAWS_BROOK=df_concord.loc[df_concord.FULL_STR=='LAWS BROOK RD']

In [75]:
len(df_LAWS_BROOK.index)

63

In [76]:
df_MILDRED=df_concord.loc[df_concord.FULL_STR=='MILDRED CIR']

In [78]:
len(df_MILDRED.index)

15

In [81]:
df_SARAH_WAY=df_concord.loc[df_concord.FULL_STR=='SARAH WAY']

In [82]:
len(df_SARAH_WAY.index)

6

In [124]:
df_Cambridge_Tpke=df_concord.loc[df_concord.FULL_STR=='CAMBRIDGE TPKE']

In [125]:
len(df_Cambridge_Tpke.index)

53

In [87]:
df_HUNTERS_RIDGE=df_concord.loc[df_concord.FULL_STR=='HUNTERS RIDGE RD']

In [89]:
len(df_HUNTERS_RIDGE.index)

24

In [90]:
df_OLD_MARLBORO=df_concord.loc[df_concord.FULL_STR=='OLD MARLBORO RD']

In [91]:
len(df_OLD_MARLBORO.index)

97

In [92]:
df_THOREAU=df_concord.loc[df_concord.FULL_STR=='THOREAU ST']

In [93]:
len(df_THOREAU.index)

66

In [94]:
df_HUBBARD=df_concord.loc[df_concord.FULL_STR=='HUBBARD ST']

In [96]:
len(df_HUBBARD.index)

55

In [126]:
df_LAUREL=df_concord.loc[df_concord.FULL_STR=='LAUREL ST']

In [127]:
len(df_LAUREL.index)

21

In [128]:
df_THOREAU_CT=df_concord.loc[df_concord.FULL_STR=='THOREAU CT']

In [129]:
len(df_THOREAU_CT.index)

8

In [103]:
len(df_LAUREL.index)+len(df_THOREAU_CT.index)

29

In [130]:
df_UNION =df_concord.loc[df_concord.FULL_STR=='UNION ST']

In [131]:
len(df_UNION.index)

8

In [132]:
df_WILLOW =df_concord.loc[df_concord.FULL_STR=='WILLOW ST']

In [133]:
len(df_WILLOW.index)

7

In [136]:
df_Fielding =df_concord.loc[df_concord.FULL_STR=='FIELDING ST']

In [137]:
len(df_Fielding.index)

8

In [138]:
len(df_UNION.index)+len(df_WILLOW.index)+len(df_Fielding.index)

23

In [110]:
df_WALDEN =df_concord.loc[df_concord.FULL_STR=='WALDEN TER']

In [111]:
len(df_WALDEN.index)

12

In [140]:
df_DEVENS =df_concord.loc[df_concord.FULL_STR=='DEVENS ST']

In [141]:
len(df_DEVENS.index)

8

In [142]:
df_BELKNAP=df_concord.loc[df_concord.FULL_STR=='BELKNAP ST']

In [143]:
len(df_BELKNAP.index)

46

In [144]:
len(df_DEVENS.index)+len(df_BELKNAP.index)

54

In [145]:
df_ACADEMY =df_concord.loc[df_concord.FULL_STR=='ACADEMY LN']

In [146]:
len(df_ACADEMY.index)

4

In [147]:
df_MIDDLE =df_concord.loc[df_concord.FULL_STR=='MIDDLE ST']

In [148]:
len(df_MIDDLE.index)

12

In [118]:
len(df_ACADEMY.index)+len(df_MIDDLE.index)

16

In [120]:
df_SUDBURY =df_concord.loc[df_concord.FULL_STR=='SUDBURY RD']

In [121]:
len(df_SUDBURY.index)

118